.calc{
  width:400px;
  height:500px;
  margin-top:30px;
  margin-left:auto;
  margin-right:auto;
  background-color:grey;
}
#screen{
  width:80%;
  margin-left:36px;
  height: 40px;
  margin-top: 30px;
  pointer-events: none;
  font-size:20px;
}
.btn{
  width:60px;
  height: 45px;
  margin-left: 30px;
  margin-top: 30px;
  background-color:burlywood;
  font-size:20px;
}